*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    background: linear-gradient(to top, #FFE5E5, #F5FFFE, #FCF3FF, #FFF4E5);
}
header{
  margin-top: 20px;
  margin-left: 100px;

}
header>nav>h1{
    font-size: 2rem;
    color: #E71D36;
}
header>nav{
    display: flex;
}
header>nav>ul{
    display: flex;
    margin-top: 10px;
    margin-left: 150px;
}
header>nav>ul>li{
    list-style: none;
    margin-left: 20px;
}
header>nav>ul>li>a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 5px;
    color: #011627;
}
header>nav>ul>li>a:hover{
    color: #E71D36;
    border-bottom: 3px solid #E71D36;

}
#contact-btn{
    text-decoration: none;
    margin-left: 50px;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 50px;
    background-color: #E71D36;
}

/* Home section area  start */
.home{
    display: flex;
    width: 100%;
    height: 570px;
}
.content-text{
    width: 50%;
    margin-top: 10%;
    margin-left: 100px;
}
.content-text>h1{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 15px;
}
.content-text>h2{
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 20px;
}
.content-text>p{
    font-size: 1rem;
    line-height: 30px;
    letter-spacing: 0.5px;
    padding-bottom: 50px;
}
.content-text>h1>span{
    color: #E71D36;
}
.content-btns{
    display: flex;
    padding-bottom: 50px;
}
#get-start-btn{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    padding: 15px 50px;
    border-radius: 50px;
    background-color: #E71D36;
}
.content-btns>img{
    margin-left: 30px;
}
.content-image{
    width: 50%;
}
#wtch-btn{
    color: #E71D36;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 10px;
}
.content-image>img{
    width: 70%;
}

/* ============Home section area end ==============*/


/* ===========Our work features============= */
.work-feature{
    width: 100%;
    background-color: #fdfffc;
    padding-bottom: 50px;
}
.work-feature>h1{
    font-size: 2rem;
    padding-top: 50px;
    text-align: center;
}
.companies{
    width: 70%;
    height: 100px;
    background-color: #FFFBFB;
    margin: 20px auto;
    box-shadow: 2px 2px 10px #e0dfdf;
    border-radius: 5px;
    text-align: center;
}
.companies>img{
    width: 12%;
    margin-top: 25px;
    margin-left: 20px;
    text-align: center;
}
.netflix{
    margin-bottom: 10px;
}

/* ==============Feature are start ==================*/
.feature-text{
    width: 50%;
    margin-left: 100px;
    margin-top: 130px;
}
.feature-text>h1{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 25px;
}
.feature-text>p{
    line-height: 25px;
    padding-bottom: 30px;
}

.text-list>ul>li{
    list-style: none;
    margin-top: 10px;
}

.achievement{
    display: flex;
    margin-top: 50px;
    padding-bottom: 50px;
}
.audience>h1{
    font-size: 1.6rem;
    font-weight: 500;
    color: #FF1D03;
}
.audience>p{
    padding-top: 10px;
}
.project>h1{
    font-size: 1.6rem;
    font-weight: 500;
    color: #2EC4B6;
}
.project>p{
    padding-top: 10px;
}
.project{
    margin-left: 50px;
}
.explore-btn{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 8px;
    background-color: #2EC4B6;
    box-shadow: 3px 3px 15px #2ec4b67a;
}
.feature-content{
    width: 50%;
    float: right;
    margin-top: -300px;
}
.feature-one{
    width: 33%;
    height: 250px;
    margin-top: -260px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #e0dfdf;
}
.feature-one>img{
    width: 13%;
    background-color: #FFECEA;
    padding: 20px;
    border-radius: 8px;
    margin: 16px 15px;
}
.feature-one>h3{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 15px;
    padding-bottom: 5px;
}
.feature-one>p{
    font-size: 0.8rem;
    margin-left: 15px;
    letter-spacing: 0.7px;
    padding-bottom: 30px;
}
.feature-one>a{
    text-decoration: none;
    margin-left: 15px;
    font-size: 1rem;
    color: #E71D36;
}
.feature-two{
    width: 33%;
    height: 250px;
    margin-top: -200px;
    margin-right: 200px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #e0dfdf;
    float: right;
}
.feature-two>img{
    width: 13%;
    background-color: #D2FFFB;
    padding: 20px;
    border-radius: 8px;
    margin: 16px 15px;
}
.feature-two>h3{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 15px;
    padding-bottom: 5px;
}
.feature-two>p{
    font-size: 0.8rem;
    margin-left: 15px;
    letter-spacing: 0.7px;
    padding-bottom: 30px;
}
.feature-two>a{
    text-decoration: none;
    margin-left: 15px;
    font-size: 1rem;
    color: #2EC4B6;
}

.feature-three{
    width: 33%;
    height: 245px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #e0dfdf;
    float: right;
}
.feature-three>img{
    width: 13%;
    background-color: #D2FFFB;
    padding: 20px;
    border-radius: 8px;
    margin: 16px 15px;
}
.feature-three>h3{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 15px;
    padding-bottom: 5px;
}
.feature-three>p{
    font-size: 0.8rem;
    margin-left: 15px;
    letter-spacing: 0.7px;
    padding-bottom: 30px;
}
.feature-three>a{
    text-decoration: none;
    margin-left: 15px;
    font-size: 1rem;
    color: #2EC4B6;
}

.feature-four{
    width: 33%;
    height: 250px;
    margin-top: -195px;
    margin-right: 200px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #e0dfdf;
    float: right;
}
.feature-four>img{
    width: 13%;
    background-color: #FFECEA;
    padding: 20px;
    border-radius: 8px;
    margin: 16px 15px;
}
.feature-four>h3{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 15px;
    padding-bottom: 5px;
}
.feature-four>p{
    font-size: 0.8rem;
    margin-left: 15px;
    letter-spacing: 0.7px;
    padding-bottom: 30px;
}
.feature-four>a{
    text-decoration: none;
    margin-left: 15px;
    font-size: 1rem;
    color: #E71D36;
}

/* ======================Feature area end ===================== */

.case-study{
    width: 100%;
    height: 445px;
    background-color: #fdfffc;
}

.case-study nav>p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #E71D36;
    margin-left: 100px;

}
.case-study nav{
display: flex;
padding-top: 50px;
}
.fa-angle-left, .fa-angle-right{
    padding: 10px 10px;
    background-color: #FFF3F5;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.fa-angle-right{
    background-color: #E71D36;
    color: #ffffff;
}
.fa-angle-left{
    margin-left: 60%;
}
.client-result{
    width: 100%;
    display: flex;
}
.client-result-text>h1{
    margin-left: 100px;
    padding-top: 30px;
    font-weight: 600;
}
.client-result-text>p{
    margin-left: 100px;
    padding-top: 20px;
    line-height: 30px;
}

/* ==============STORIES========= */

.client-result img{
    width: 50%;
}
.client-stories{
    display: flex;
    margin-top: 20px;
    
}
.story-one{
    margin-left: 50px;
}
.story-one, .story-two, .story-three, .story-four{
    height: 250px;
    width: 150px;
    border-radius: 20px;
    background-color: #E71D36;
}
.story-two, .story-three, .story-four{
    margin-left: 15px;
}
.story-one{
    background-image: url(images/clients-img/client-one.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} .story-two{
    background-image: url(images/clients-img/client-two.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} .story-three{
    background-image: url(images/clients-img/client-three.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} .story-four{
    background-image: url(images/clients-img/client-four.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rating{
    width: 100%;
    height: 65px;
    margin-top: 185px;
    background-image: linear-gradient(#01162700, #011627a0, #011627);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.rating>p{
    font-size:  12px;
    font-weight: 400;
    margin-left: 30px;
    padding-top: 10px;
    color: #ffffff;
}
.rating> .fa-solid{
    padding: 5px 15px;
    background-color: #E71D36;
    font-size: 0.5rem;
    letter-spacing: 2px;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 45px;
}

/* ==============STORIES area end========= */

/* ================PORTFOLIO SECTION START============= */
.portfolio{
    width: 100%;
    text-align: center;
    background-color: #fdfffc;
    padding-bottom: 30px;
}
.portfolio>h1{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.portfolio>nav{
    padding-top: 40px;
    padding-bottom: 35px;
    margin-left: 26%;
}
.portfolio>nav>ul{
    display: flex;
}
.portfolio>nav>ul>li{
    list-style: none;
}
.portfolio>nav>ul>li>a{
    text-decoration: none;
    padding: 5px;
    margin-left: 20px;
    color: #011627;
    text-align: left;
}
.portfolio>nav>ul>li>a:hover{
    border-bottom: 3px solid #E71D36;
}
#focus{
    border-bottom: 3px solid #E71D36;
}
.ui-designs{
    width: 100%;
    padding-bottom: 40px;
}
.ui-designs img{
    width: 25%;
    padding: 5px;
}
#view-more{
    text-decoration: none;
    padding: 10px 25px;
    font-size: 0.9rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #2EC4B6;
    border-radius: 7px;
    box-shadow: 3px 3px 10px rgba(46, 196, 182, 0.48);
}

/* ================PORTFOLIO SECTION END============= */

/* ================BLOG SECTION START============= */

.blog{
    width: 100%;
    background-color: #fdfffc;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}
.blog>h1{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 30px;
}
.blog> .fa-angle-left{
    margin-left: 720px;
}

.blog-posts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.blog-one{
    width: 400px;
    height: 180px;
    display: flex;
    background-color: #FFF8F8;
    border: 0.5px solid #E71D3645;
    border-radius: 20px;
    margin-left: 225px;
}
.blog-one>img{
    width: 100px;
    height: 155px;
    margin: 10px;
    border-radius: 10px;
    border-bottom: 5px solid #E71D36;
    
}
.post-detail{
    text-align: left;
    margin-left: 15px;
    margin-top: 20px;
}
#dates{
    font-size: 0.7rem;
    font-weight: 400;
    color: #011627;
    padding-bottom: 5px;
}
.post-detail>h2{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #011627;
    padding-bottom: 10px;
}
#post-pri-txt{
    font-size: 13px;
    padding-bottom: 10px;
}
.post-detail>a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #FF1D03;
}

.blog-two{
    width: 400px;
    height: 180px;
    display: flex;
    background-color: #F8FFFE;
    border: 0.5px solid #2EC4B680;
    border-radius: 20px;
    margin-left: 20px;
}
.blog-two>img{
    width: 100px;
    height: 155px;
    margin: 10px;
    border-radius: 10px;
    border-bottom: 5px solid #2EC4B6;
}
.post-detail{
    text-align: left;
    margin-left: 15px;
    margin-top: 20px;
}
#dates{
    font-size: 0.7rem;
    font-weight: 400;
    color: #011627;
    padding-bottom: 5px;
}
.post-detail>h2{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #011627;
    padding-bottom: 10px;
}
#post-pri-txt{
    font-size: 13px;
    padding-bottom: 10px;
}
#read-more-two{
    text-decoration: none;
    font-size: 0.9rem;
    color: #2EC4B6;
}
.blog-three{
    width: 400px;
    height: 180px;
    display: flex;
    background-color: #F8FFFE;
    border: 0.5px solid #2EC4B680;
    border-radius: 20px;
    margin-left: 225px;
    margin-top: 10px;
}
.blog-three>img{
    width: 100px;
    height: 155px;
    margin: 10px;
    border-radius: 10px;
    border-bottom: 5px solid #2EC4B6;
}
.post-detail{
    text-align: left;
    margin-left: 15px;
    margin-top: 20px;
}
#dates{
    font-size: 0.7rem;
    font-weight: 400;
    color: #011627;
    padding-bottom: 5px;
}
.post-detail>h2{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #011627;
    padding-bottom: 10px;
}
#post-pri-txt{
    font-size: 13px;
    padding-bottom: 10px;
}
.post-detail>a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #2EC4B6;
}

.blog-four{
    width: 400px;
    height: 180px;
    display: flex;
    background-color: #FFF8F8;
    border: 0.5px solid #E71D3645;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 10px;
}
.blog-four>img{
    width: 100px;
    height: 155px;
    margin: 10px;
    border-radius: 10px;
    border-bottom: 5px solid #E71D36;
}
.post-detail{
    text-align: left;
    margin-left: 15px;
    margin-top: 20px;
}
#dates{
    font-size: 0.7rem;
    font-weight: 400;
    color: #011627;
    padding-bottom: 5px;
}
.post-detail>h2{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #011627;
    padding-bottom: 10px;
}
#post-pri-txt{
    font-size: 13px;
    padding-bottom: 10px;
}
.post-detail>a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #E71D36;
}

/* ================BLOG SECTION END============= */

/* ================FOOTER AREA START============= */

footer{
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    background: linear-gradient(90deg, rgba(255, 230, 230, 0.52) 0%, rgba(245, 255, 254, 0.52) 26.81%, rgba(252, 243, 255, 0.52) 54.58%, rgba(255, 244, 230, 0.52) 99.86%);
}
.social-links-txt{
    margin-left: 100px;
}
.social-links-txt>h1{
    padding-top: 50px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #E71D36;
}
.social-links-txt>p{
    padding-top: 15px;
    font-size: 0.9rem;
    line-height: 30px;
    letter-spacing: 1px;
    color: #011627;
}
.social-links-txt>ul{
display: flex;
padding-top: 20px;
}
.social-links-txt>ul>li{
    list-style: none;
}
.social-links-txt>ul>li>a{
    text-decoration: none;
    margin-left: 50px;
    font-size: 2rem;
    color: #2EC4B6;
}
#facrbook{
    margin-left: -50px;
}

#company{
    margin-top: 125px;
    margin-left: 100px;
}
#company>h3{
    font-size: 1.3rem;
    font-weight: 600;
    color: #2EC4B6;
}
#company>ul{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
#company>ul>li{
    list-style: none;
    margin-top: 10px;
}
#company>ul>li>a{
    text-decoration: none;
}

.latest-news{
    margin-top: 125px;
    margin-left: 100px;
}
.latest-news>h3{
    font-size: 1.3rem;
    font-weight: 600;
    color: #2EC4B6;
}
.news-one{
    display: flex;
    padding-top: 30px;
}
.news-one>img{
    width: 90px;
    height: 90px;
}

.news-one-txt{
    margin-left: 20px;
}
.news-one-txt>h4{
    font-size: 15px;
    font-weight: 600;
    color: #2EC4B6;
}
.news-one-txt>p{
    font-size: 12px;
    padding-top: 10px;
    line-height: 20px;
    letter-spacing: 1px;
}
.news-one-txt>li{
    font-size: 11px;
    color: #E71D36;
    padding-top: 8px;
}
/* ================FOOTER AREA START============= */

.news-two{
    display: flex;
    padding-top: 30px;
}
.news-two>img{
    width: 90px;
    height: 90px;
}

.news-two-txt{
    margin-left: 20px;
}
.news-two-txt>h4{
    font-size: 15px;
    font-weight: 600;
    color: #2EC4B6;
}
.news-two-txt>p{
    font-size: 12px;
    padding-top: 10px;
    line-height: 20px;
    letter-spacing: 1px;
}
.news-two-txt>li{
    font-size: 11px;
    color: #E71D36;
    padding-top: 8px;
}

.tos{
    display: flex;
    background: linear-gradient(90deg, rgba(255, 230, 230, 0.52) 0%, rgba(245, 255, 254, 0.52) 26.81%, rgba(252, 243, 255, 0.52) 54.58%, rgba(255, 244, 230, 0.52) 99.86%);
    padding-top: 50px;
    padding-bottom: 20px;
}
.tos>p{
    margin-left: 100px;
    font-size: 13px;
}
#privacy-txt{
    margin-left: 390px;
}
#privacy-txt>span{
    color: #2EC4B6;
}